.header-background{
    background-image: url(image/headphones_hero_1.jpg);
    padding-bottom:5%;
  
  }
  
  nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  
  nav a{
    text-decoration: none;
    color: white;
  }
  
  nav a:hover{
    color: red;
  }
  
  .list{
    display: flex;list-style: none;
    gap: 25px;
  }
  
  #toggler, label{display: none;}
  
  label i{color: white;}
  
  
  .div-one-h1{
    display: flex;
    justify-content: center;
    margin-top: 17%;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    color: white;
    }
  
    .div-one{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
   .div-one-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  
  .first-p{
    margin-top: -30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .div-one-content button,
  form button{
    margin-top: 30px;
    background: #FF6565;
    border-radius: 22px;
    width: 162px;
    height: 44px;
    opacity: 0px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    
    }
    .div-one-content button:hover{
      background-color: #FF6555;
    }
  
  .second-p{
    margin-top: 9%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    
    }
  
    .section-two{
      padding-top: 4%;
      padding-bottom: 4%;
    }
  
    .what-we-do{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .what-we-do-images,
    .our-results-images{
      margin-top: 4%;
      display: flex;
      justify-content: space-around;
    }
  
    .what-we-do-images .flex-width img{ 
      width: 40%; 
      display: block;
      animation-play-state: running;
    }
  
    .our-results-images img {
        width: 15%; 
        display: block;
        animation: scale 2s infinite alternate; 
    }
  
    .section-three{
      background-image: url(image/headphones_hero_2.jpg);
      padding-top: 8%;
      padding-bottom: 6%;
      padding-left: 5%;
      padding-right: 3%;
    }
    .our-results{
      display: flex;
      flex-direction: column;
      align-items: center;
      color:white;
    }
  
  
    .our-results-images{
      display: flex;gap: 50px;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .section-four{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 80px;
    }
  
    .div-form input{
      border: none;
    }
  
    .div-form{
      border-bottom: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgb(192, 188, 188);
      width: 350px;
      margin-bottom: 20px;
      padding-bottom: 8px;
    }
  
    form button{
      margin-left: 30%;
    }
  
    footer{
      display: flex;
      justify-content: space-around;
      background-color:#071629;
  
      padding-top: 7%;
      padding-bottom: 30px;
    }
    .logo{
      width: 161px;
      height: 32px;
      }
  
    footer p{
      margin-top: 6%;
      font-family: Source Sans Pro;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      color: rgb(151, 140, 140);
  
  
    }
  
    .social-media-icons{
      display: flex;
      height: 30px;
      gap: 20px;
    }
    
  
  @media screen and (max-width: 480px) {
    .menu{
      width: 100%;
      max-height: 0;
      overflow: hidden;
    }
    label{
      display: inline-flex;
    }
    #toggler:checked~.menu{
      max-height: 100%;
    }
    .list{
      flex-direction: column;
      align-items: center;
    }
  
    .div-one-h1{
      margin-left: 30px;
    }
    .second-p{
      margin-left: 40px; 
      margin-right: 40px;
    }
  
    .what-we-do-images{
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-left: 25%;
    }
  
    .our-results-images{
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-left: 30%;
    }
  
    footer{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    footer p{
      margin-top: 5px;
    }
    
    }
  
    @media screen and (max-width: 744px) and (min-width: 481px) {
      .flex-width{width: 45%;}
      .what-we-do-images{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        padding: 5%;
      }
      .our-results-images{
        display: flex;
        flex-direction: row;
      }
   
      }
  
    @keyframes scale {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
    }
  
  @keyframes move {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .what-we-do h2,
  .what-we-do p,
  .our-results h2,
  .our-results p{
    animation: move 5s linear infinite;
    white-space: nowrap; 
    overflow: hidden;
  }
  
  
  




/* header
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.page-1 {
    height: 100vh;
    background-image: url(/headphones/image/headphones_hero_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    color: white;

}
.logo-top {
    display: flex;
    align-items: center;

}
.logo-top img {
    padding-right: 0.5px;
}

nav ul {
    display: flex;
}
nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}
nav ul li a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    background-color: green;
    transition: 0.3s;
}
nav ul li a:hover::before {
width: 100%;
}

.intro {
    display: flex;
    margin: 200px 0;
    flex-direction: column;
    align-items: center;
}
.intro h2 {
    margin-top: 150px;
    font-family: 'Source Sans Pro';
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    width: 578px;
    height: 40px;
}
.intro p {
   width: 355px;
    height: 20px;
    top: 40px;
    left: 141px;
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    line-height: 20.1px;
}
button {
    background-color: #FF6565;
    font-size: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Source Sans Pro';
    align-items: center;
    transition: .4s;
}
button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.intro-text p {
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    line-height: 30px;
}
/* sidebar section 
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 900;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
    padding:30px 0;
}
.sidebar.active {
    display: flex;
}
@media only screen and (max-width: 480px) {
    .hideOnMobile{
        display: none;
    }
    .sidebar {
        width: 100%;
    }
    
    .menu-btn {
        display: block;
    }
    
}
@media only screen and (min-width: 480px) {
    .menu-btn {
        display: none;
    }
}
/*  what we do 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.sect-1 {
    height: 100vh;
    background-color: white;
    background-size: cover;
}
.second-top {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: "Source Sans Pro";
}
.second-top h2 {
    margin-bottom: 20px;
    font-weight: 400;
}
.second-top p {
    font-size: 16px;
    font-weight: 400;
}
.second-down {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    flex-wrap: wrap;
}
.one, .two, .three, .four {
    padding: 20px 30px;
}
.second-down img{
    margin: 10px 0;
}
.second-down h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
}
.second-down p {
    line-height: 20px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 480px) {
    .sect-1 {
        width: 80%;
        height: 100vh;
        background-color: white;
        background-size: cover;
    }
    .second-top {
        margin-top: 20px;
        padding-top: 10px;
        text-align: center;
        font-family: "Source Sans Pro";
    }
    .second-top h2 {
        margin-bottom: 20px;
        font-weight: 400;
    }
    .second-top p {
        font-size: 16px;
        font-weight: 400;
    }
    .second-down {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
        flex-wrap: wrap;
    }
    .one, .two, .three, .four {
        padding: 20px 30px;
    }
    .second-down img{
        margin: 10px 0;
    }
    .second-down h3 {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 400;
    }
    .second-down p {
        line-height: 20px;
        text-align: center;
        font-family: 'Source Sans Pro';
        font-size: 14px;
        font-weight: 400;
    }
}
/* our results 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec-2 {
    background-image: url(/headphones/image/headphones_hero_2.jpg);
    background-size: cover;
    background-position: center;
}
.sec-2-top {
    text-align: center;
    font-family: 'Source Sans Pro';
    margin: 50px 0;
    padding: 40px 0;
}
.sec-2-top h2, .sec-2-top p {
    font-weight: 400;
    font-family: 'Source Sans Pro';
    color: white;
}
.sec-2-top h2 {
    padding: 70px 0;
    font-size: 30px;
}
.sec-2-top p {
    font-size: 16px;
}
.sec-2-down {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.sec-2-down img {
    padding: 0 20px;
}

@media (max-width: 480px){
    .sec-2 {
        background-image: url(/headphones/image/headphones_hero_2.jpg);
        background-size: cover;
        background-position: center;
    }
    .sec-2-top {
        text-align: center;
        font-family: 'Source Sans Pro';
        margin: 50px 0;
        padding: 40px 0;
    }
    .sec-2-top h2, .sec-2-top p {
        font-weight: 400;
        font-family: 'Source Sans Pro';
        color: white;
    }
    .sec-2-top h2 {
        padding: 70px 0;
        font-size: 30px;
    }
    .sec-2-top p {
        font-size: 16px;
    }
    .sec-2-down {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .sec-2-down img {
        padding: 0 20px;
    }
}
/* contact *
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-sec {
    height: 80vh;
    justify-content: center;
    padding-top: 100px;
}


h2 {
    padding: 80px 0;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Source Sans Pro';
    text-align: center;
}
label {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.input {
    border-bottom: 1px solid rgb(133, 118, 118);
    padding-top: 40px;
    padding-bottom: 10px;
   
}

#submit {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #FF6565;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 70px;
    font-family: 'Source Sans Pro';
    align-items: center;
}



/* footer 

footer {
    background-color: #071629;
    height: 249px;
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top:70px ;
}
.footer-top ul {
    display: flex;

}
.footer-top ul li {
   list-style-type: none;
}
.footer-top ul li a {
    color: white;
    padding: 0 10px;
    list-style-type: none;
}
footer p {
    color: #f5eeee;
    text-align: center;
    padding-top: 50px;
}
 */
